@using UserView.Models
@model UserViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NET Web Site</title>
        <link rel="stylesheet" href="@Url.Content("~/css/theme.css")">
        <link rel="stylesheet" href="@Url.Content("~/css/index.css")">
        <script src="@Url.Content("~/src/index.js")"></script>
    </head>

    <body>
        <main>
            <header>
                <h1>Hello, @Model.Name is my name. I am currently @Model.Age years old.</h1>
            </header>

            <section>
                <img src="@Url.Content("~/images/bel.png")" class="spin" alt='spinning'>
            </section>
            
            <section>
                <p>This page was served by the .NET application.</p>
                <button id="btime">Get current time</button>
                <button id="buser">Set user</button>
                <button id="downloadxml">Download projects XML</button>
                <p id="result"></p>
            </section>
        </main>
    </body>
</html>